.shaken{
    background-color: #FFBB33;
}
.wound1{
    background-color: #FF4444;
}
.wound2{
    background-color: darkred;
}
.wound3{
    background-color: black;
    color: #ffffff;
}
.nav-tabs li a{
    border: 1px solid #ddd;
}
#deck-container{
    margin-top: 1em;
}
#dealt-card-output{
    color: #eee;
}
#initiative-render{
    margin-top: 1em;
}
.player{
}
.btn.active{
    background-color: #3b3b3b;
}
.joker-title {
    background-color: #e255ff;
}